/* {
  font-family: "Abril Fatface", cursive;
}

.barlow {
  font-family: "Barlow", sans-serif;
} */

* {
  margin: 0;
  padding: 0;
}

/* .container {
  margin: 0 1.5vh;
  max-width: 575px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1080px;
  }
} */

.row {
  display: flex;
}

/* navbar */

.link {
  text-decoration: none;
  color: #a92c46;
}

.nav-bar {
  cursor: pointer;
  margin: 3vh 2vh;
}

.logo {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5em;
  width: 60%;
}

.login,
.create {
  align-self: center;
  font-family: Barlow, sans-serif;
  font-size: 0.8em;
  text-align: center;
  width: 20%;
}

/* /login-signup */

.log-sign-head {
  font-family: "Abril Fatface", cursive;
  color: #63666a;
}

.form-group {
  font-family: Barlow, sans-serif;
}
